doctype html
html
    head
        title Tutorial de Conekta con Express de Node
    body
        block content 
        script(type="text/javasctipt", src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
        script(type="text/javasctipt", src="https://cdn.conekta.io/js/latest/conekta.js")
        block script